@if (isJournalEntryOpen) {
    <div class="position-static d-block p-4" style="max-width: 1000px;">
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-4 shadow p-3 bg-white">
        <div class="modal-header border-bottom-0 d-flex justify-content-between p-1">
          <h1 class="modal-title fs-5 uw-text-primary">Add Journal</h1>
          <button type="button" class="btn-close" (click)="closeJournalEntry()" aria-label="Close"></button>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col" class="uw-text-primary">Account</th>
              <th scope="col" class="uw-text-primary">Debit</th>
              <th scope="col" class="uw-text-primary">Credit</th>
              <th scope="col" class="uw-text-primary">Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="search" list="accountlist" class="form-control account" (change)="addRow($event)"></td>
              <td><input type="number" class="form-control unit-price" style="width: 90px;" (change)="calAmount($event)"></td>
              <td><input type="number" class="form-control quantity" style="width: 90px;" (change)="calAmount($event)"></td>
              <td><input type="text" class="form-control"></td>
              <td class="">
                <div class="d-flex justify-content-between">
                  <div class="col-auto">
                    <button type="button" class="btn-close mt-1" (click)="removeRow($event)"></button>
                  </div>
                </div>
              </td>
            </tr>
            <datalist id="accountlist">
              @for (account of modifiedAccountList; track $index) {
                <option value={{account}}>
              }
             </datalist>
          </tbody>
          <tfoot>
            <tr>
              <td></td>
              <td><hr><input type="number" class="form-control unit-price" style="width: 90px;" (change)="calAmount($event)"></td>
              <td><hr><input type="number" class="form-control quantity" style="width: 90px;" (change)="calAmount($event)"></td>
            </tr>
          </tfoot>
        </table>
        <!-- <div class="row ms-auto me-2 w-25">
          <div class="input-group input-group-sm mb-3">
            <span class="input-group-tex border-0 bg-white w-50">SubTotal</span>
            <input type="text" class="form-control border-0 bg-white border-bottom text-end" id="sub-total-enter-bill" disabled [value]="subTotal">
          </div>
          <div class="input-group input-group-sm mb-3">
            <span class="input-group-tex border-0 bg-white w-50">Discount</span>
            <input type="text" class="form-control border-0 bg-white border-bottom text-end" placeholder="0.00" id="discount-enter-bill" [(ngModel)]="discount" (ngModelChange)="recalculateTotals()">
          </div>
          <div class="input-group input-group-sm mb-3">
            <span class="input-group-tex border-0 bg-white w-50">Tax</span>
            <input type="text" class="form-control border-0 bg-white border-bottom text-end" placeholder="0.00" id="tax-enter-bill" [(ngModel)]="tax" (ngModelChange)="recalculateTotals()">
          </div>
          <div class="input-group input-group-sm mb-3">
            <span class="input-group-tex border-0 bg-white w-50 h5">Total</span>
            <input type="text" class="form-control border-0 bg-white border-bottom text-end h5" [value]="total" disabled id="total-enter-bill">
          </div>
        </div> -->

        <div class="modal-footer align-items-stretch w-100 gap-2 pb-3 border-top-0">
          <button type="button" class="btn btn-lg" id="save-n-new" (click)="saveAndNew()">Save & New</button>
          <button type="button" class="btn btn-lg" id="save-n-close" (click)="saveAndClose()">Save & Close</button>
          <button type="button" class="btn btn-lg btn-secondary" data-bs-dismiss="modal" (click)="closeJournalEntry()">Cancel</button>
        </div>
      </div>
    </div>
  </div>
}
