<nav class="navbar navbar-expand-lg navbar-dark uw-bg-primary" aria-label="Eighth navbar example">
  <div class="container">
    <a class="navbar-brand">UW Count</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample07">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Customers</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" (click)="openCreateInvoiceModal()">Create Invoice</a></li>
            <li><a class="dropdown-item" (click)="openReceivePaymentModal()">Receive Payments</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Suppliers</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" (click)="openEnterBillModal()">Enter Bills</a></li>
            <li><a class="dropdown-item" (click)="openPayBillModal()">Pay Bills</a></li>
            <li><a class="dropdown-item" (click)="openAddSupplierModal()">Add Supplier</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Company</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item">Chart of Accounts</a></li>
            <li><a class="dropdown-item">Journal Entries</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Reports</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item">Profit & Loss</a></li>
            <li><a class="dropdown-item">Balance Sheet</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
