<div class="position-relative">
  @if (isEnterBillsOpen) {
    <div class="position-absolute top-0 start-0">
      <app-enter-bill />
    </div>
  }

  @if (isPayBillsOpen) {
    <div class="position-absolute top-0 start-0">
      <app-pay-bill />
    </div>
  }

  @if (isCreateInvoiceOpen) {
    <div class="position-absolute top-0 start-0">
      <app-create-invoice />
    </div>
  }
  @if (isReceivePaymentOpen) {
    <div class="position-absolute top-0 start-0">
      <app-receive-payment />
    </div>
  }
  @if (isAddSupplier) {
    <div class="position-absolute top-0 start-0">
      <app-add-vendor />
    </div>
  }

  @if (isChartOfAccountsOpen) {
    <div class="position-absolute top-0 start-0">
      <app-chart-of-accounts />
    </div>
  }

  @if (isProfitAndLossOpen) {
    <app-profit-and-loss />
  }

</div>
