.uw-text-primary {
  color: #24AECF;
}

.uw-text-secondary {
  color: #CF24AE;
}

.add-new-customer {
  background-color: white;
  border-color: #24AECF;
  color: #24AECF;
}

.add-new-customer:hover {
  background-color: #24AECF;
  color: white;
}

#btn-save-new-customer {
  border-color: #24AECF;
  color: #24AECF;
}

#btn-edit-customer {
  border-color: #CF24AE;
  color: #CF24AE;
}

#btn-save-new-customer:hover {
  background-color: #24AECF;
  color: white;
}

table td {
  vertical-align:text-top;
}

table td {
  max-width: 200px;
  overflow-wrap: break-word;
}

.edit-btn {
  background-color: #CF24AE;
  color: white;
}

.edit-btn:hover {
  background-color: #24AECF;
}

.edit-form {
  position: fixed;
  top: 250px;
  padding-top: 10px;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2), 3px 6px 20px 0 rgba(0, 0, 0, 0.19);
}